body{
    background-color: lightgray;
}


.hd{
    display: flex;
    background-color: #2596be;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: white;
}

.hd h1{
    font-size: 40px;

}

h3{
    padding-left: 30px;
    padding-top: 30px;
    margin-bottom: 0%;
}

h4, p{
    padding-left: 30px;
}

h2{
    color: #b83e37;
}

form{
    display: flex;
    padding: 30px;
}

::placeholder{
    padding-left: 15px;
}

#character{
    height: 39px;
    width: 600px;
    border-radius: 5px;
    border: none;
    
   
}

.btn{
    background-color: lightcoral ;
    text-align: center;
    height: 40px;
    margin-left: 15px;
    width: 100px;
    color: white;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
}

h1{
    font-size: 40px;
    font-weight: bold;
    margin:0px;
    padding-left: 20px;
}

